body {
  margin: 0px;
}

.frame {
position: relative;
z-index: 0;
width: 1903px;
height: 919px;

background: #FFB8FC;
}

/* photo_5361905119165273635_x 1 */
img {
position: absolute;
width: 467px;
height: 594px;
left: 263px;
top: 244px;

border-radius: 0px 30px 30px 0px;
}

/* этот человек проведет со мной ночь 14 февраля? */
h2 {
position: absolute;
width: 454px;
height: 129px;
left: 263px;
top: 90px;

font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 43px;

color: #000000;
}


/* да */
#da {
position: absolute;
width: 60px;
height: 58px;
left: 1202px;
top: 357px;
z-index: 1;
text-decoration:none;

font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 58px;
/* identical to box height */

color: #000000;
color: #000000;
transition-duration: 200ms;
}


/* да */
.da2 {
position: absolute;
width: 60px;
height: 58px;
left: 1203px;
top: 483px;
z-index: 1;

font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 58px;
/* identical to box height */

color: #000000;
transition-duration: 300ms;
}
#da:hover {
  background-color: #BE63BB;
  color: white;
  padding: 20px;
  left: 1182px;
  top: 337px;
  border-radius: 25px;
  cursor: pointer;
}
.da2:hover {
  background-color: #BE63BB;
  padding: 20px;
  left: 1183px;
  top: 443px;
  border-radius: 15px;
  z-index: 1;
}
/* нет */
#net {
position: absolute;
width: 84px;
height: 58px;
left: 1190px;
top: 483px;
z-index: 2;

font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 58px;
/* identical to box height */
background: #FFB8FC;
color: #000000;
transition-duration: 200ms;
}
#net:hover {
cursor: pointer;
background-color: #BE63BB;
color: white;
padding: 20px;
left: 1170px;
top: 463px;
border-radius: 25px;
}
#net1 {
position: absolute;
width: 84px;
height: 58px;
left: 1572px;
top: 154px;
z-index: 2;
opacity: 0;

font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 58px;
/* identical to box height */
background: #FFB8FC;
color: #000000;
transition-duration: 200ms;
}
#net1:hover {
cursor: pointer;
background-color: #BE63BB;
color: white;
padding: 20px;
left: 1552px;
top: 134px;
border-radius: 25px;
}
#net2 {
position: absolute;
width: 84px;
height: 58px;
left: 992px;
top: 67px;
z-index: 2;
opacity: 0;

font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 58px;
/* identical to box height */
background: #FFB8FC;
color: #000000;
transition-duration: 200ms;
}
#net2:hover {
cursor: pointer;
background-color: #BE63BB;
color: white;
padding: 20px;
left: 972px;
top: 47px;
border-radius: 25px;
}
#net3 {
position: absolute;
width: 84px;
height: 58px;
left: 1488px;
top: 750px;
z-index: 2;
opacity: 0;

font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 58px;
/* identical to box height */
background: #FFB8FC;
color: #000000;
transition-duration: 200ms;
}
#net3:hover {
cursor: pointer;
background-color: #BE63BB;
color: white;
padding: 20px;
left: 1468px;
top: 730px;
border-radius: 25px;
}
#net4 {
position: absolute;
width: 84px;
height: 58px;
left: 1792px;
top: 529px;
z-index: 2;
opacity: 0;

font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 58px;
/* identical to box height */
background: #FFB8FC;
color: #000000;
transition-duration: 200ms;
}
#net4:hover {
cursor: pointer;
background-color: #BE63BB;
color: white;
padding: 20px;
left: 1772px;
top: 509px;
border-radius: 25px;
}
