html {
  height: 2018px;
}

body {
  background-color: #587994;
  margin: 0px;
  height: 2018px;
}
/*h1 {
  position: absolute;
  margin-top: 0px;
  font-size: 80px;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin-left: 300px;
  padding-top: 60px;
  padding-bottom: 40px;
}*/
/* Без названия141_20240225224241 1 */
#face {
position: absolute;
width: 152px;
height: 152px;
left: 430px;
top: 46px;
}

#startbutton {
  position: absolute;
  width: 170px;
  margin-left: 185px;
  margin-top: 26px;
  opacity: 0;
}
.circle {
  position: absolute;
  width: 1025px;
  height: 224px;
  background: #91AEC4;
  margin-top: 1794px;
}
.cir {
  position: absolute;
  margin-top: 0px;
  width: 1025px;
  height: 224px;
  background: #91AEC4;
}
.rectangle {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #91AEC4;
  margin-top: 1660px;
  margin-left: 362px;
}
p {
  position: absolute;
  width: 100px;
  margin-left: 243px;
  margin-top: 1700px;
  transition-duration: 200ms;
}

#video {
    border: 1px solid black;
    box-shadow: 2px 2px 30px black;
    width: 525px;
    height: 700px;
    margin-left: 70px;
}
#photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
}
#canvas {
    display: none;
}
.camera {
    width: 700px;
    height: 700px;
    display: inline-block;
}
.output {
    width: 340px;
    display: inline-block;
}
#startbutton {
    display: block;
    top: 0px;
    left: 0px;
    position: absolute;
    bottom: 32px;
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1.0);
    transition: 1s;
}
#startbutton.streaming {
    opacity: 1;
}
.contentarea {
    position: absolute;
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    width: 760px;
    top: 400px;
    left: 170px;
}
